<div>
  <h1>Welcome to your Friendlist!</h1>
</div>
{{ friendModel | json }}
<div>
  <form #friendForm="ngForm" method="post">
    <label for="firstName" >First name: </label>
    <input
      type="text"
      id="firstName"
      #firstName="ngModel"
      name="firstName"
      pattern="^[a-zA-Zu0590-\u05fe]{2,}$"
      [(ngModel)]="friendModel.firstName"
      [class.yourClassName]="firstName.invalid && firstName.touched">
    <br>
    <label for="lastName">Last name: </label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      pattern="^[a-zA-Zu0590-\u05fe]{2,}$"
      required
      #lastName="ngModel"
      [(ngModel)]="friendModel.lastName"
      [class.yourClassName]="lastName.invalid && lastName.touched">
    <br>
    <label for="email">Email: </label>
    <input type="text"
           id="email"
           #email="ngModel"
           name="email"
           pattern="^[a-zA-Z-_.]+@[a-zA-Z-_.]+\.[a-zA-Z]+$"
           required
           [(ngModel)]="friendModel.email"
           [class.yourClassName]="email.invalid && email.touched">
    <br>
    <button id="add" type="submit">Add</button>
  </form>
</div>
